/*
Theme Name: ふらっとWeb
Description:ふらっとWebのテーマです。
Theme URI: 
Author: 舟生恒太郎
Author URI: 
Version: バージョン
License: ライセンス
License URI: ライセンスの URL
*/

body {
    font-family: gibbs, source-han-sans-cjk-ja, sans-serif;
}

header {
    border-bottom: 1px solid #323232;
    height: auto;
}

header img {
    width: 130px;
    padding: 15px;
}

#top, #service, #design, #plan, #production, #faq, #contact, #termsofservice{
    padding-bottom: 100px;
}

/*セクションタイトルカラー統一　黒*/
#top h2, #top p ,#service h2, #design h2, #production h2, #contact h2, #termsofservice h2, #privacy-policy h2, h3{
    color: #323232;
}

/*白文字統一*/
#plan h3 {
    color: white;
}

/*説明文カラー統一*/
.letter-color {
    color: #5c5c5c;
}

#top {
    height: 1000px;
    background-image: url('../img/background/top.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bg-mask {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    
}

#top h2 {
    font-size: 3.5rem;
    position: absolute;
    top: 390px;
    left: 100px;
    font-weight: 900;
    line-height: 4.5rem;
    letter-spacing: 0.1rem;
}

#top p {
    position: absolute;
    top: 580px;
    left: 100px;
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
}

#service h2, #design h2, #plan h2, #production h2, #faq h2 ,#contact h2, #application h2 {
    font-size: 3.0rem;
    text-align: center;
    line-height: 4rem;
    font-weight: 800;
    padding: 6rem;
    letter-spacing: 0.1rem;
}

#service .slider h2 {
    font-size: 2rem;
    padding: 2rem;
}


/*
#design .wrapper {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 70px;
}

#design .design-wrap {
    display: flex;
}

#design .first-line {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 30px;
}

#design .first-line > .design:first-child {
    margin-right: auto;
}

#design .first-line > .design:last-child {
    margin-left: auto;
}

#design .second-line {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

#design .second-line > .design:nth-child(2) {
    margin-right: auto;
    margin-left: auto;
}

#design .design {
    width: 300px;
}

#design .design img {
    width: 300px;
}

#design .design p, .design a {
    text-align: center;
    font-weight: 900;
}

#design .design .button {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

#design .design a {
    text-decoration: none;
    color: #323232;
    border: 1px #323232 solid;
    padding: 10px;
    margin-top: 20px;
}

#design .design a:hover {
    border: white;
    background-color: #000000;
    color: white;
    transition: 0.8s;
}
*/


#plan {
    background-image: linear-gradient(to right, #111 0%, #333 100%);
    color: white;
}

#plan > h2 {
    padding: 6rem;
}

#plan .mini-title {
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
    line-height: 1.5rem;
}

.price-list {
    display: flex;
    border: 1px solid white;
    width: 60%;
    margin: 30px auto;
    height: 400px;
    padding:2rem;
    position: relative;
}

.price-list-sp {
    display: none;
}

.plan h3 {
    font-size: 2.0rem;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}

.price {
    border: 1px white solid;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.1rem;
    font-weight: 900;
}

.has-bigger {
    font-size: 2.0rem;
    margin-top: 15px;
}

.plan, .service {
    padding: 10px;
}

.plan {
    width: 25%;
    position: absolute;
    top: 150px;
    left: 150px;
}
.service {
    width: 28%;
    position: absolute;
    right: 150px;
    top: 85px;
    font-weight: 900;
    letter-spacing: 0.1rem;

}

.letter-color {
    margin: 20px 0px;
}

.service h3 {
    font-size: 2.0rem;
}

.services {
    margin-top: 20px;
    line-height: 2.5rem;
}

.services > div {
    display: inline-flex;
    position: relative;
    width: 300px;
}

.services > div > i {
    line-height: 40px;
    position: absolute;
    right: -30px;
}

#service .letter-wrap {
    padding: 25px;
}

#service .letter-wrap h3 {
    font-size: 2rem;
}

#service .letter-wrap p {
    margin-top: 20px;
    line-height: 25px;
}

#service .slick-initialized .slick-slide {
    width: 55vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

#service .slider-next {
    right: 15%;
}

#service .slider-prev {
    left: 15%;
}

.align-center {
    text-align: center;
}

#faq h2 > span, #contact h2 > span {
    font-size: 2.0rem;
}

.questions {
    width: 80%;
    margin: 0 auto;
}

.qa-wrap {
    margin-bottom: 1.5rem;
}

.question {
    height: 85px;
    margin: 0 auto;
    width: 60%;
    color: white;
    transition: 0.8s;
    border: 1px white solid;
    display: flex;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
}

.answer {
    height: auto;
    width: 60%;
    color: white;
    margin: 0 auto;
    transition: 0s;
    line-height: 1.5rem;
    padding: 25px;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
    border: 1px white solid;

}

.clicked_faq {
    background: white;
    color: #323232;
    transition: 0;
}

.clicked_question {
    border-radius: 5px 5px 0px 0px; 
}

.clicked_answer {
    border-radius: 0px 0px 5px 5px;
}

.answer p {
    margin-left: 15px;
    font-weight: 900;
}

.hide {
    display: none;
}

.question:hover {
    background-color: white;
    color:#323232;
}

.question p {
    font-size: 1.5rem;
    line-height: 87px;
    margin-left: 5%;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.button-wrap {
    text-align: center;
    margin-top: 50px;
}

.button-wrap a {
    text-decoration: none;
    border: white 1px solid;
    padding: 15px;
    color: white;
    transition: 0.8s;
    margin-top: 15px;
}

.button-wrap a:hover {
    background: white;
    border: #323232 1px solid;
    color: #323232;
}

#contact .contents-wrap {
    padding-bottom: 100px;
}

#contact .contents-wrap .button-wrap {
    display: flex;
    margin-top: 0px;
    width: 32%;
    margin: 0 auto;
}

#contact .contents-wrap .button-wrap .contact {
    margin-right: auto;
}

#contact .contents-wrap .button-wrap .application {
    margin-left: auto;
}

#contact .contents-wrap .button-wrap .button {
    color: #000000;
    border: 1px solid #000;
    display: block;
    box-sizing: border-box;
    padding: 25px;
    font-weight: 900;
    border-radius: 5px;
    letter-spacing: 1px;
}

#contact .contents-wrap .button-wrap .button:hover {
    color: white;
    background: #000;
    transition: 0.8s;
}



.wpcf7 {
    text-align: center;
}

label {
    color: #323232;
    line-height: 2.0rem;
}

footer {
    border-top: 1px #323232 solid;
}

#faq {
    color: white;
    background-image: linear-gradient(to right, #111 0%, #333 100%);
}

#faq h2 {
    padding: 6rem;
}

.flex-item > label {
    width: 100%;
}

.contact_form-wrap {
    border: 0px white;
    border-radius: 3px;
    width: 50%;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: #f2f6f9;
    font-weight: 900;
    box-sizing: border-box;
}

#contact .flex-item {
    display: flex;
}

#contact .flex-item , .flat-item {
    width: 70%;
    margin: 0 auto;
}

#contact .has-margin-right {
    margin-right: 10px;
}

#contact .has-margin-left {
    margin-left: 10px;
}


#contact input:not(.wpcf7-submit) {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 1rem;
    box-sizing: border-box;
    border: 0;
    border: 1px solid black;
}

#contact textarea {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border: 1px solid black;
}

#contact .longer {
    width: 100%;
}

#contact .larger {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

#contact .wpcf7-submit {
    background-color: #e2dddd;
    padding: 10px;
    width: 220px;
    color: #323232;
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 10px;
}

#contact .wpcf7-submit:hover {
    background: #004E98;
    color: white;
    transition: 0.8s;
}

#contact .contact_form-wrap > p:last-child {
    text-align: center;
}

#contact .wpcf7-validation-errors, .wpcf7-not-valid-tip {
    color: red;
    display: block;
}



.micon_1 {
    position: absolute;
    left: 2px;
    font-size: 1.5rem;
    line-height: 85px;
    margin-left: 8px;
    margin-right: 10px;
}

.micon_2 {
    position: absolute;
    right: 5px;
    font-size: 1.5rem;
    line-height: 85px;
}

#contact .must {
    border: 1px #004e98 solid;
    border-radius: 4px;
    background-color: #004e98;
    color: white;
    padding: 5px;
    margin-left: 10px;
    font-size: 0.8rem;
}
#contact .will {
    border: 1px #78909C solid;
    border-radius: 1px;
    background-color: #78909C;
    color: white;
    padding: 5px;
    margin-left: 10px;
    font-size: 0.8rem;
}

/*-------------------------
    お申し込みページ
-------------------------*/





/*---contact form 7 エラーメッセージ*/
.wpcf7-validation-errors {
    margin-top: 10px;
    margin-bottom: 20px;
}

div.screen-reader-response {
    display: none;
}

.rotate-arrow {
    transform: rotate(90deg);
}

#termsofservice {
    background-color: #f2f6f9;
}

.terms {
    margin-bottom: 50px;
}

#termsofservice .terms h3, .privacy-policy h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#termsofservice .pp {
    margin-top: 50px;
}

footer {
    height: 350px;
    background-color: #333;
    color: white;
}

footer .contents {
    padding: 60px;
    display: flex;
}

footer .contents > div {
    margin-right: 60px;
}

footer .contents .title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 60px;
}

footer .contents ul {
    list-style: none;
    font-weight: 900;
    line-height: 20px;
}

#contact h2 {
    line-height: 3.5rem;
}

.sp {
    display: none;
}

/*-------------------------
    お申し込みページ
--------------------------*/

#application .flex-item {
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 40px;
}

#application .flat-item {
    width: 100%;
}
#application .flex-item >div {
    width: 25%;
}

#application .flex-item > .item:nth-child(2) {
    margin-right: auto;
    margin-left: auto;
}
#application .flat-item > div {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

#application .letter {
    margin-bottom: 10px;
}

#application .flat-item > div input{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#application .letter {
    color: #323232;
}

#application .flat-item > div textarea {
    width: 100%;
}


#application .flex-item > div select {
    width: 90%;
    height: 40px;
}

#application .wpcf7-submit {
    background-color: #e2dddd;
    padding: 10px;
    width: 220px;
    color: #323232;
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 10px;
}

#application .wpcf7-submit:hover {
    background: #004E98;
    color: white;
    transition: 0.8s;
}
#application .must{
border: 1px #004e98 solid;
border-radius: 4px;
background-color: #004e98;
color: white;
padding: 5px;
margin-left: 10px;
font-size: 0.8rem;
}

#application .will {
border: 1px #78909C solid;
border-radius: 1px;
background-color: #78909C;
color: white;
padding: 5px;
margin-left: 10px;
font-size: 0.8rem;
}

#application .privacy-policy .title-wrap > h3,
#application .rules .title-wrap > h3 {
    font-size: 1rem;
}

#application .rules .contents-wrap,
#application .privacy-policy .contents-wrap {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    padding-bottom: 100px;
    overflow: scroll;
    border: 1px solid #000;
    padding: 30px;
    box-sizing: border-box;
}

#application .rules h3,
#application .privacy-policy h3 {
    line-height: 2rem;
    font-size: 1rem;
}

#application .wpcf7-form-control-wrap {
    margin-top: 40px;
}


/*スライダー　カスタムCSS*/

#service .item {
    padding: 25px;
}

#production .slick-initialized .slick-slide {
    width: 45vw;
    margin-right: 4vw;
    margin-left: 4vw;
}

#production .slider-next {
    right: 22%;
}

#production .slider-prev {
    left: 22%;
}

.slick-arrow {
    z-index: 100;
}

#service .item > div {
    display: flex;
    border: 1px solid #323232;
    border-radius: 10px;
    background-color: #f2f6f9;
    box-shadow: #323232 1px;
    height: 250px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.08);
}

#service .item img {
    width: 320px;
    height: 250px;      /*親divに高さを合わせる*/
    border-radius: 10px;
}

.design >img {
    width: 100%;
}

.design > p {
    font-size: 2rem;
    text-align: center;
}

.design > div.button > a {
    display: block;
    width: 15%;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;
}

.design > div.button > a:hover {
    transition: 0.5s;
    color: white;
    background-color: #323232;
}

.slide {
    border: 1px solid #323232;
    border-radius: 10px;
    background-color: #f2f6f9;
    box-shadow: #323232 1px;
    height: 250px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.08);
}

.slide-title-style {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
}

#production .contents h2 {
    font-size: 2.5rem;
    padding: 2rem;
    white-space: nowrap;
}

.contents p {
    line-height: 1.8rem;
}

#production .slide {
    padding: 25px;
}

.slider-arrow {
    top: 40%;
    position: absolute;
}

.slider-arrow > img {
    width: 50px;
}

.slider-prev {
    left: 22%;
}

.slider-next {
    right: 22%;
}

/*---スライダー終わり---*/


/*アニメーション*/

.fade_off {
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    transform: translateY(100px);
}

.fade_on {
    opacity: 1;
    transform: translateY(0px);
}
/* タブレット */
@media screen and (max-width: 1024px) {

    #service h2, #design h2, #plan h2, #production h2, #faq h2, #contact h2, #termsofservice h2 {
        font-size: 2.5rem;
        padding: 3.5rem;
    }

    header {
        width: 100%;
    }

    section {
        width: 100%;
    }

    #top {
        height: 600px;
    }

    #top h2 {
        font-size: 2.4rem;
        top: 200px;
        left: 50px;
        font-weight: 900;
        line-height: 4rem;
        letter-spacing: 0.3rem;
    }

    #top p {
        top: 450px;
        left: 50px;
    }


    /*#design .wrapper {
        width: 100%;
    }

    #design .design {
        width: 250px;
    }

    #design .design img {
        width: 100%;
    }
    */

    #plan .price-list {
        width: 80%;
        padding: 1.5rem;
    }

    .plan {
        width: 30%;
        left: 50px;
    }

    .price {
        padding: 15px;
    }

    .service {
        width: 40%;
        right: 80px;
    }

    .service h3 {
        font-size: 1.8rem;
    }

    .has-small {
        display: block;
        width: 80%;
        margin: 0 auto;
        line-height: 2rem;
    }

    .question, .answer {
        width: 100%;
    }

    .contact_form-wrap {
        width: 80%;

    }

    .design > div.button > a {
        width: 18%;
    }

    #contact .flex-item, .flat-item {
        width: 80%;
    }

    #contact input:not(.wpcf7-submit) {
        width: 100%;
    }

    #contact .larger {
        width: 100%;
    }

    /*---スライダー---*/
    #production .contents h2 {
        font-size: 2.0rem;
        white-space: nowrap;
    }

    .slider-arrow > img {
        width: 35px;
    }

    .slider-prev {
        left: 6%;
    }

    .slider-next {
        right: 6%;
    }

    #production .slide {
        box-sizing: border-box;
        height: 330px;
    }

    .question p {
        font-size: 1.4rem;
    }
}






/* スマホ */
@media screen and (max-width: 480px) {

    header {
        width: 100%;
        height: 60px;
    }

    header img {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #top, #service, #design, #plan, #production, #faq, #contact, #termsofservice {
        padding-bottom: 80px;
    }

    #top {
        width: 100%;
        height: 500px;
    }

    #top h2 {
        font-size: 2rem;
        top: 100px;
        left: 50px;
        line-height: 3rem;
    }

    #top p {
        top: 300px;
        left: 50px;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #service h2, #design h2, #plan h2, #production h2, #faq h2, #contact h2, #termsofservice h2 {
        font-size: 2.0rem;
        line-height: 3rem;
        padding:2rem;
    }

    #design .wrapper {
        width: 100%;
    }


    .letter-color {
        margin: 20px auto;
        width: 90%;
    }

    .services {
        border: 1px solid white;
        padding: 10px;
    }

    .price {
        padding: 10px;
    }

    .price > p:first-child {
        font-size: 0.8rem;
    }
    
    .has-bigger {
        font-size: 1.5rem;
    }

    #plan .mini-title {
        font-size: 0.7rem;
        line-height: 1.4rem;
    }

    #plan .price-list {
        display: none;
    }

    #plan .price-list-sp {
        display: block;
        position: relative;
    }

    #plan > p:last-child {
        margin-top: 30px;
        line-height: 1.2rem;
    }

    #plan .plan {
        margin: 0 auto;
        width: 80%;
        position: unset;
    }

    #plan .service {
        width: 80%;
        margin: 0 auto;
        position: unset;
    }

    .plan h3 {
        margin-bottom: 20px;
    }

    .service h3 {
        text-align: center;
    }

    #plan .plan , #plan .service {
        padding: 0;
        margin-top: 40px;
    }

    .services > div > i {
        right: 20px;
    }

    .services p {
        font-size: 0.8rem;
    }

    .has-small {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .service h3, .plan h3 {
        font-size: 1.5rem;
    }

    .question, .answer {
        width: 85%;
        padding: 10px;
        box-sizing: content-box;
    }

    .question {
        height: 25px;
    }

    .question p {
        line-height: 30px;
        font-size: 0.5rem;
        margin-left: 20px;
        letter-spacing: 1px;
    }

    .answer p {
        font-size: 0.5rem;
        line-height: 1rem;
    }

    .micon_1 {
        left: 0px;
        line-height: 30px;
        font-size: 1rem;

    }
    
    .micon_2 {
        right: 0px;
        line-height: 30px;
        font-size: 1rem;

    }

    .button-wrap a {
        font-size: 0.7rem;
    }

    #faq h2 > span, #contact h2 > span {
        font-size: 1.0rem;
    }

    #contact input:not(.wpcf7-submit) {
        width: 100%;
    }

    .contact_form-wrap {
        width: 80%;
        font-size: 0.8rem;
        padding: 10px;
    }

    #contact .must, #contact .will {
        font-size: 0.7rem;
        padding: 3px;
    }

    #contact .longer, #contact .larger {
        width: 100%;
    }

    #contact label {
        margin-bottom: 10px;
    }

    .contact-form {
        margin-top: 0px;
    }

    #contact .flex-item, .flat-item {
        width: 90%;
    }

    #contact .wpcf7-submit {
        width: 80%;
        background-image: linear-gradient(to right, #42bde3 0%, #3d91d8 100%);
        font-weight: 900;
        font-size: 1rem;
        color: white;
        padding: 10px;
    }

    footer .contents {
        padding: 10px;
    }

    /*slickカスタムcss*/
    .slick-initialized .slick-slide {
        width: 280px;
        margin-right: 15px;
        margin-left: 15px;
    }

    #service .item img {
        width: 100%;
        height: 150px;
    }

    #service .item > div {
        height: 420px;
        display: block;
    }

    #service .letter-wrap h3 {
        font-size: 1.5rem;
    }

    #service .letter-wrap p {
        font-size: 0.8rem;
    }

    #production .contents h2 {
        font-size: 1rem;
        padding: 0;
    }

    #production .slide {
        padding: 25px;
        height: 280px;
    }

    .letter-color {
        font-size: 0.8rem;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
        font-size: 2.0rem;
        line-height: 3rem;
        padding: 2rem;
        text-align: center;
        font-weight: 900;
        letter-spacing: 0.1rem;
        color: #323232;
    }

        /*---デザイン---*/
        .design > p {
            font-size: 1.5rem;
        }

        .design > div.button > a {
            width: 33%;
            font-size: 0.8rem;
        }

        /*---スライダーボタンの位置---*/

        .slider-next, .slider-prev {
            top: 20%;
        }

        #service .slider-next, #service .slider-prev, #production .slider-next, #production .slider-prev {
            top: 45%;
        }

        .slider-next {
            right: 1%;
        }

        .slider-prev {
            left: 1%;
        }

        #service .slider-next {
            right: 1%;
        }

        #service .slider-prev {
            left: 1%;
        }


        .slider-arrow > img, .slider-arrow > img {
            width: 35px;
        }

    /*---Contact Form 7---*/
    #contact .wpcf7-validation-errors, .wpcf7-not-valid-tip {
        font-size: 0.8rem;
    }

    #contact .flex-item {
        display: block;
    }

    .slick-dotted.slick-slider{
    margin-bottom: 0px;
    }

    #termsofservice h2 {
        font-size: 1.5rem;
    }

    #termsofservice h2 {
        padding: 1.2rem;
    }

    #termsofservice .terms, .privacy-policy {
        box-sizing: border-box;
        width: 80%;
        padding: 15px;
    }

    #termsofservice .terms h3, .privacy-policy h3 {
        line-height: 2rem;
        font-size: 1rem;
    }

    footer .contents .title {
        font-size: 1.2rem;
        margin-bottom: 40px;
        white-space: nowrap;
    }

    footer .contents > div {
        margin-right: 30px;
    }

    footer .contents ul {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

}










