<div class="contact_form-wrap">
            <label> お名前<span class="must">必須</span>
                [text* your-name]
            </label>
    
            <label>電話番号<span class="must">必須</span>
                [tel* tel-620]
            </label>

            <label> メールアドレス<span class="must">必須</span>
                [email* your-email]
            </label>
    
            <label> メールアドレス確認<span class="must">必須</span>
                [email* your-email]
            </label>


            <label> お問い合わせ内容<span class="must">必須</span>
                [textarea* your-message class:larger]
            </label>
        [response]
        [submit "送信"]
    </div>