<div class="slider">
        <div class="item">
            <div>
                <div><img src="<?php echo get_template_directory_uri(); ?>/img/service/1.jpg" alt=""></div>
                <div>
                    <h2>安いだけではありません</h2>
                    <p>取材・撮影・デザイン・文章作りなど、ホームページ制作に必要なすべてを
                        お任せいただけ、しかもすべてが無料です。

                        なにかと忙しい中小企業や個人事業主にピッタリ。
                        どんなにパソコンが苦手でも、インターネットが嫌いでも、大丈夫です。

                        めんどうなのは、嫌いでしょう？
                        琉球オフィスサービスなら、ほぼ丸投げでOKです。</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div>
                <div><img src="<?php echo get_template_directory_uri(); ?>/img/service/2.jpg" alt=""></div>
                <div>
                    <h2>安いだけではありません</h2>
                    <p>取材・撮影・デザイン・文章作りなど、ホームページ制作に必要なすべてを
                        お任せいただけ、しかもすべてが無料です。

                        なにかと忙しい中小企業や個人事業主にピッタリ。
                        どんなにパソコンが苦手でも、インターネットが嫌いでも、大丈夫です。

                        めんどうなのは、嫌いでしょう？
                        琉球オフィスサービスなら、ほぼ丸投げでOKです。</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div>
                <div><img src="<?php echo get_template_directory_uri(); ?>/img/service/3.jpg" alt=""></div>
                <div>
                    <h2>安いだけではありません</h2>
                    <p>取材・撮影・デザイン・文章作りなど、ホームページ制作に必要なすべてを
                        お任せいただけ、しかもすべてが無料です。

                        なにかと忙しい中小企業や個人事業主にピッタリ。
                        どんなにパソコンが苦手でも、インターネットが嫌いでも、大丈夫です。

                        めんどうなのは、嫌いでしょう？
                        琉球オフィスサービスなら、ほぼ丸投げでOKです。</p>
                </div>
            </div>
        </div>



        <div class="slider">
                <div>
                    <h2>1. まずはご連絡ください</h2>
                    <p>営業担当がお伺いして、ご要望のヒアリングとサービスのご説明を行います。ご都合の良い日時をご指定ください。
                        ネットやホームページに詳しくなくても、まったくご心配ありません。営業担当が持参するタブレットでいろんなサイトをご覧いただきながら、ご検討いただきますので、画面を見ながらお好みをお伝えいただくだけで、しっかりサポートいたします。
                        沖縄県本当なら、どこでも対応いたします。</p>
                </div>
                <div>
                    <h2>2. お申し込み。</h2>
                    <p>サービス内容をしっかり説明いたしますので、ご了承いただければお申し込みください。</p>
                </div>
            </div>