/*
Theme Name: ふらっとWeb
Description:ふらっとWebのテーマです。
Theme URI: 
Author: 舟生恒太郎
Author URI: 
Version: バージョン
License: ライセンス
License URI: ライセンスの URL
*/

header {
    border-bottom: 1px solid black;
    height: 100px;
}

#top {
    background-color: black;
}

#top h2 {
    font-size: 3.5rem;
    position: absolute;
    top: 100px;
    left: 100px;
}

.price-list {
    display: flex;
}

